<!-- <div class="container">
  <h2>Upload File</h2>
  <form (ngSubmit)="upload()">
    <div>
      <label for="path">Path:</label>
      <input type="text" id="path" [(ngModel)]="path" name="path" required />
    </div>
    <div>
      <label for="filename">Filename:</label>
      <input
        type="text"
        id="filename"
        [(ngModel)]="filename"
        name="filename"
        required
      />
    </div>
    <div>
      <label for="content">Content:</label>
      <textarea
        id="content"
        [(ngModel)]="content"
        name="content"
        required
      ></textarea>
    </div>
    <button type="submit">Upload</button>
  </form>
</div> -->
<div class="text-center">
  <input class="form-control" type="file" (change)="onChange($event)" />
  <br />
  <button (click)="onUpload()" class="btn btn-success">Upload</button>
</div>

<!-- Shareable short link of uoloaded file -->
<div class="container text-center jumbotron" *ngIf="shortLink">
  <h2>Visit Here</h2>
  <a href="{{ shortLink }}">{{ shortLink }}</a>
</div>

<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
  <h3>Loading ...</h3>
</div>
